<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cocoon-cordova-labs-wkwebview-engine-localhost"
    version="0.5.1">
    <name>Cordova WKWebView Engine with http server (localhost) support (Cocoon Mod)</name>
    <description>Cordova WKWebView Engine with HTTP Server Plugin (Cocoon Mod)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,wkwebview,webview</keywords>
    <repo>https://github.com/ludei/cordova-plugins.git</repo>

	<engines>
        <engine name="cordova-ios" version=">=4.1.0" />
        <engine name="apple-ios" version=">=8.0" />
	</engines>

    <dependency id="cocoon-cordova-labs-local-webserver" version="2.4.1" />
    <dependency id="cocoon-cordova-plugin-wkwebview-engine" version="1.1.1" />

    <!-- ios -->
    <platform name="ios">
    </platform>

</plugin>
